.eventpost{

    display: flex;
    flex-direction: column;
    align-items: center;
  

    .user{
        
        
        display: flex;
        padding: 10px;
        width: 50%;
        background-color: black;
        
   

        .information{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;

            img{
                height: 30px;
                width: 30px;
                border-radius: 50%;
                object-fit: cover;
            }

            .username{
                span{
                    font-weight: bold;
                    color: #DBE9E8;

                }
            }


        }
    }

    .content{
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: rgb(221,160,221,0.4);
        width: 50%;
        padding: 25px;

        -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
        -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
        box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
        

        p{
            font-size: 17px;
            font-weight: 400;
            color: #492E4D;
        }
        img{
            width: 50%;
            
        }

    }
}