
 .regBlock{
     width: 80%
 }
 
 .centerBlock{
    background-color:aliceblue;
    min-height: 650px;
    width: 50%;
    
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    border-radius: 25px;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.377);

    .reigsterPage{
    
        height: 100%;
        flex: 1;
        
        place-items: center;
        padding: 10px;
        border-radius: 25px 0px 0px 25px;
        
        h1{
            color: rgb(190,27,151);
            text-align: left;
        };
        form{
            display: flex;
            flex-direction: column;
            gap: 30px; 
            input{
                border: none;
                border-radius: 1px solid black;
                padding: 22px 12px;
                background-color: white;
    
                width: 100%;
                
                
                border-radius: 5px;
            }
            button{
                width: 40%;
                padding: 15px;
                border: none;
                background-color: rgb(190,27,151,0.7);
                color: aliceblue;
                font-weight: bold;
                cursor: pointer;
                transition: transform 0.3s ease-in-out;
            };
            button:hover{
                background-color: rgb(43, 43, 43);
                color: white;
                transform: scale(1.1);
            }
        }
       
     }
     .login2{
        flex: 1;
        background: linear-gradient(rgb(226,52,184,0.5), rgb(190,27,151,0.5) ), url('../../assets/Hahn.jpg') left;
        background-size: cover;
        min-height: 650px;
        display: flex;
        flex-direction: column;
        border-radius: 0px 25px 25px 0px;
        gap: 35px;
        padding: 60px;
               
        color: aliceblue;
        h1{
            font-size: 95px;
            line-height: 10px;
        }
        h2{
           font-size: 50px;
           text-align: Center;
           position: relative;
           top: 20px;
        };
        h4{
            font-size: 17px;
            font-weight: bold;
        };
        p{
            font-size: 20px;
            font-weight: 10px;

        }
        button{
            
            width: 40%;
            height: 50px;
            border-radius: 50px;
            background-color: aliceblue;
            color: rgb(190,27,151,0.7);
            font-size: 16px;
            border: none;
            font-weight: bold;
            transition: transform 0.3s ease-in-out;
        }
        
        button:hover{
            background-color: rgb(43, 43, 43);
            color: white;
            transform: scale(1.1);
        }
    }
    
 }

 .grad{

    // background-image: linear-gradient(to bottom, rgb(179,138,184), rgb(190,27,151));
    background-color: rgb(179,138,184);

     position: absolute;
     top:0;
     bottom: 0;
     left: 0;
     right: 0;
     
     margin: auto;
     display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(179,138,184);
 }
 