.notification{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vmax;
    height: 100vmax;
    background-color: aquamarine;
    padding: 30px;
    gap: 30px; 

    .organisation{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: aliceblue;
        padding: 10px;
        

        // add shadow box in the future i suppose 

        .info{
            display: flex;
            align-items: center;
            gap: 20px;
            

            img{
                height: 100px;
                width: 100px;
                object-fit: cover;
                border-radius: 50%;
            }

            span{
                font-weight: bold;
                font-size: 18px;
            }
            

        }

        .text{
            display: flex;
            align-items: center;
            p{
                font-weight: 400;
                font-size: 17px;
                padding: 10px 20%;
            }
        }
    }
}