.navBar{
    // there is a slight sort of unintended feature here 
    // not really a bug but the search has a white radius, even after removing the border and setting it to none
    // can't be bothered to fix it, don't think it's a huge issue, but if you know how to fix it go ahead 
    // middle icons are not centered, don't know how to center them 
    
    display: flex;
    z-index: 9999;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    height: 50px;
    border-bottom: 1px solid #CFBFB4;
    position: sticky;
    top: 0;
    height: 50px;
    background-color: #8FB88A;
    .left{
        display: flex;
        align-items: center;
        gap: 30px;
        span{
            font-weight: bolder;
            font-size: large;
            color: #492E4D;
            border: none;
        }

        .search{
            display: flex;
            align-items: center;
            gap: 10px; 
            border: 1px solid #492E4D;
            border-radius: 10px;
            padding: 5px;
            background-color: #8FB88A;
            input{
                border: 1px solid #8FB88A;
                width: 300px; 
                color: #492E4D; // nice colour for text here 
                background-color: #8FB88A;
            }
        }
    }

    .middle{
        display: flex;
        gap: 25px;
        align-items: center;
        // border: 1px solid #492E4D;
        // border-radius: 5px;
        // padding: 6px;
        // maybe turn into buttons? rather than hyperlinks? 

    }
   
    
    .right{
        display: flex;
        align-items: center;
        gap: 20px;
        

        .user{
            display: flex;
            align-items: center;
            gap: 10px;

            img{
                height: 35px;
                width: 35px;
                border-radius: 50%;
                object-fit: cover;
            }

            span{
                font-weight: 400;
                
            }
        }

        //Anna
        .admin-icon {
            font-size: 24px;
            color: inherit;
            cursor: pointer;
            transition: color 0.2s;

            &:hover {
                color: #007bff;
            }
        }
    }

}