.profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vmax;
    height: 100%;
    background-color: white;
   
    
    .profileimages{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        position: relative;
        
       .background{
            width: 100%;
            height: 400px;
            object-fit: cover;
            -webkit-box-shadow: 0px 5px 5px 1px rgba(0,0,0,1);
            -moz-box-shadow: 0px 5px 5px 1px rgba(0,0,0,1);    
            box-shadow: 0px 5px 5px 1px rgba(0,0,0,1);

            &:hover{

                -webkit-box-shadow: 3px 5px 5px 0px rgba(175,238,238,1);
                -moz-box-shadow: 3px 5px 5px 0px rgba(175,238,238,1);
                box-shadow: 3px 5px 5px 0px rgba(175,238,238,1);

            }


       }
       .profile{
            width: 250px;
            height: 250px;
            border-radius: 50%;
            object-fit: cover;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 250px;

            -webkit-box-shadow: 3px 5px 5px 0px rgba(0,0,0,1);
            -moz-box-shadow: 3px 5px 5px 0px rgba(0,0,0,1);
            box-shadow: 3px 5px 5px 0px rgba(0,0,0,1);

            &:hover{

                -webkit-box-shadow: 3px 5px 5px 0px rgba(175,238,238,1);
                -moz-box-shadow: 3px 5px 5px 0px rgba(175,238,238,1);
                box-shadow: 3px 5px 5px 0px rgba(175,238,238,1);

            }


       }    
    }

    .personalinformation{
        padding: 115px;
        display: flex;
        align-items: center;
        flex-direction: column;
        span{
            font-weight: bolder;
            font-size: larger;
            
        }
        p{
            padding: 10px 20%;
            font-size: 16px;
        }
        .interest{
            display: grid;
            /*grid-template-columns: repeat(4, 1fr); /* 4 items per row */
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            max-width: calc(4 * 110px);
            gap: 10px; /* Optional: spacing between items */
            list-style-type: none; /* Remove bullets */
            padding: 0; /* Remove padding */
            margin: 40px auto; /* Remove margin */
            margin-bottom: 30px;
            align-items: center;

            li {
                list-style-type: none; /* Removes the bullet point */
                background: #c5c5c5; /* Optional: Add a background */
                padding: 10px; /* Optional: Add some padding */
                text-align: center; /* Optional: Center text */
                width: 100px;
                border-radius: 10px;
              }

        }
        .centered-title {
            text-align: center;
          }
    }
}