.update_profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vmax;
    height: 100vmax;
    background-color: white;

    form{
        padding: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        span{
            font-weight: bolder;
            font-size: larger;
            
        }
        textarea {
            resize: none;
         }
        p{
            padding: 10px 20%;
            font-size: 16px;
        }
        .addingImage{
            border-radius: 20px;
            border-color: black;
            background-color: white;

            display: flex;
            align-items: center;
            flex-direction: column;
        }

        button{
            background-color: white;
            border: 1px solid black;
            height: 50px;
            padding: 10px 10px;

            font-weight: bold;

            &:hover{

                background-color: black;
                color: rgb(175,238,238);

                -webkit-box-shadow: 4px 4px 5px 1px rgba(175,238,238,1);
                -moz-box-shadow: 4px 4px 5px 1px rgba(175,238,238,1);
                box-shadow: 4px 4px 5px 1px rgba(175,238,238,1);



            }

            -webkit-box-shadow: 4px 4px 5px 1px rgba(0,0,0,0.75);
            -moz-box-shadow: 4px 4px 5px 1px rgba(0,0,0,0.75);
            box-shadow: 4px 4px 5px 1px rgba(0,0,0,0.75);

        }

        input{

            min-height: 50px;
            padding: 10px 10px;
            font-weight: bold;

            &::placeholder{
                color: black;

            }
        }
        
    }
    .interests_choice{
        padding: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .genreList{
        display: "flex";
        flex-direction: column;
        gap: "10px"; // Space between buttons
        max-width: 600px;
        padding: 20px;
        align-items: center;
        .genre-button {
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
            border: 1px solid #ccc;
            background-color: #f9f9f9; /* Default background */
            color: #000;
            cursor: pointer;
            text-align: center;
            margin: 5px;
            transition: background-color 0.3s ease, color 0.3s ease;
          }
          
          /* Active button styles */
          .genre-button.active {
            background-color: black; /* Selected button background */
            color: #fff; /* Selected button text color */
          }
    }
}